.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt

# ======================
# Environment files
# ======================
.env
.env.*
*.env

# ======================
# Python / Django
# ======================
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log
*.pot

# Virtual environment
travelenv/
backend/travelenv
venv/
.env_venv/
.venv/
backend/travelenv/
travelenv/
venv/
.venv/

# Django media & static
media/
staticfiles/

# ======================
# Node / React
# ======================
node_modules/
dist/
build/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# Docker
# ======================
*.pid
